@import "reset.css";
/* 게임헤드 */
#WL{
    position:absolute; top:20%;
}
#gamemode{
    position:absolute; top:40%;
}
#time{
    position:absolute; top:60%;
}
#date{
    position:absolute; top:80%;
}
.WIN{
    background-color: #b3cbff;
    border: 5px double #b3cbff;
}
.winColor{
    color: blue;
}
.LOSE{
    background-color: #ff99a8;
    border: 5px double  #ff99a8;
}
.loseColor{
    color: red;
}
.head{
    color: white;
}
/* 게임헤드 */
/* 테이블 정보 */
#champion{
    width: 30px;
}
#spell{
    width: 15px;
}
.table{
    height: 100%; width: 100%;
    text-align: center;
    position: relative;
    table-layout: auto; 
}
/* 테이블 정보 */
.flex{
    display: flex;
}
.wl{
    width:40%;
}
.KDA{
    width: 20%;
}
.CS{
    width: 10%;
}
.damage{
    width: 15%;
}
.gold{
    width: 15%;
}
.div1{
    width: 10%;
    display: table-cell;
    position: relative;
}
.div2{
    width: 90%;
}
button{
    background-color: transparent
}
.back{
    background-color: white;
}
.box{
    position: relative;
    width: 80%;   height: 50px;
    border-radius: 30px;
    background-color: white;
}
#nickname{
    border: none;
    outline: none;
    position:absolute; left: 30px;
    width: 70%;
    height: 90%;
}
#search{
    position: absolute; right: 0px;
    width: auto;   height: 100%;
    border: none;
}
.con{
    padding: 0 2% 0 2%;
    position: relative;
}
.cen{
position: absolute; left: 50%;
transform: translate(-50%);
}
.background{
    background-color: black;
}
.size{
    max-width: 100%;    height: auto;
    display: block;
}
.section{
    position: relative;
    width: 100%; height: 100%;
    text-align: center;
}
.btn{
    width: 500px;   height: 50px ;
    background-color: wheat;
}

.blue{
    background-color: #b3cbff;
    position: relative;
}
.red{
    background-color: #ff99a8;
}
.game{
    padding: 20px 0px 20px 0px;
    position: relative; top:50px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.loading{
    position: relative;
    border: 9px solid gray;
    border-radius: 50%;
    border-color: gray gray gray transparent;
    width: 100px;   height: 100px;
    animation: spinning 1s linear infinite;
    display: none;
    z-index: 100;
}
@keyframes spinning {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
#plusBtn{
    display: none;
    background-color: white;
}
#userName{
    font-size: 13px;
    display: table-cell;
    width: "*";
}
.textLeft{
    text-align: left;
}
.size2{
    width: auto;
    height: 40px;
}
#champLevel{
    width: 15px;
    color: white;
    background-color: black;
    border-radius: 30%;
    font-size: 12px;
}
@media (min-width: 700px){
    .box{
        width: 500px;
    }
}